## **05. Pra-pemrosesan Data (Data Preprocessing)**

---

Casefolding

Cleansing

Normalization

Stopword Removal

Stemming

Tokenization

Padding

## Installing Package

In [161]:
!pip install sastrawi
!pip install emoji

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sastrawi in c:\users\temp\appdata\roaming\python\python312\site-packages (1.0.1)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: emoji in c:\users\temp\appdata\roaming\python\python312\site-packages (2.12.1)
Requirement already satisfied: typing-extensions>=4.7.0 in c:\users\temp\appdata\roaming\python\python312\site-packages (from emoji) (4.12.2)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Import Library

In [162]:
import pandas as pd
import numpy
import collections
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import re
from nltk import tokenize
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

import warnings
warnings.filterwarnings("ignore")

from IPython.display import display, HTML

# Load Data Train

In [163]:
checking = pd.read_csv('checking.csv')
checking

                                                                   full_text
0  nikmati bisa senang-senang bareng teman tapi tetap produktif buat bekerja
1                                              pagi2 udah di buat emosi :)\t
2                                                   sedih bener niih club ya
3                                                      bgt! sepi dan serem\t
4                                                       sayang sama chikaa\t
5                                                 baru saja mengirimkan foto

In [164]:
data = pd.read_csv(
    'evaluation_done2.csv', 
    sep=","
)
data

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username,cleaned_tweet,topic_cluster,emotion
0,1800679330726715550,Tue Jun 11 23:59:42 +0000 2024,1,TIMNAS PRIA DAN WANITA MENANG + ERIK TEN HAG STAY,1800679330726715550,NaN,NaN,in,Indonesia,0,0,0,https://x.com/tigapuluhtigax/status/1800679330726715550,1188470356668895234,tigapuluhtigax,timnas pria wanita menang erik ten hag stay,9,Joy
1,1800679305925800015,Tue Jun 11 23:59:36 +0000 2024,1,ngerasa ga sih sekarang timnas kalo main pakek jersey putih tuh aura menangnya naik drastis beda sama dulu kalo main pakek jersey putih nih pesimi...,1800679305925800015,NaN,NaN,in,"Jombang, Indonesia",0,0,0,https://x.com/sotongism/status/1800679305925800015,961056397063409664,sotongism,ngerasa ga sih timnas kalo main pakek jersey putih tuh aura menangnya drastis beda kalo main pakek jersey putih nih pesimis duluan,9,Fear
2,1800679288326476196,Tue Jun 11 23:59:31 +0000 2024,0,2 Sejarah Dicetak Timnas Indonesia Usai Ganyang Filipina STY Pelatih Pemecah Rekor. #TimNasDay https://t.co/nLxTrlEYx5.,1800679288326476196,NaN,NaN,in,NaN,0,0,0,https://x.com/peanutkacang123/status/1800679288326476196,1464596330421100548,peanutkacang123,sejarah dicetak timnas indonesia ganyang filipina sty pelatih pemecah rekor,9,Joy
3,1800589420766355730,Tue Jun 11 23:59:28 +0000 2024,0,@womensfootie_id Tinggal tmbah pemain diaspora bisa lah ini timnas putri bersaing di Asia,1800679273185047018,NaN,womensfootie_id,in,NaN,0,0,0,https://x.com/PKananku1927/status/1800679273185047018,1772880651248939008,PKananku1927,tinggal tmbah pemain diaspora timnas putri bersaing asia,8,Neutral
4,1800679270857286043,Tue Jun 11 23:59:27 +0000 2024,0,Timnas Indonesia Vs Timnas Filipina 2-0 Indonesia Lolos ke Putaran Ketiga Kuaifikasi Piala Dunia 2026 https://t.co/if6QFIOQdd #sepakbola #Indonesi...,1800679270857286043,NaN,NaN,in,NaN,0,0,0,https://x.com/kangsil2012/status/1800679270857286043,546890263,kangsil2012,timnas indonesia vs timnas filipina indonesia lolos putaran ketiga kuaifikasi piala dunia,3,Joy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,1800537380392419660,Tue Jun 11 15:56:14 +0000 2024,0,@cingreborn aaak seneng banget guee #timnasday,1800557666047254585,NaN,cingreborn,in,NaN,0,0,0,https://x.com/kidleaderr/status/1800557666047254585,1294225010924466177,kidleaderr,aaak seneng banget guee,6,Joy
1910,1800557640936038793,Tue Jun 11 15:56:08 +0000 2024,0,PREDIKSI TOGEL OREGON 04 12 JUNI 2024 ANGKA MAIN : 0 6 9 4 8 COLOK BEBAS 2D : 8 &amp; 9 TOP 4D : 8609*0694*6984*4896 TOP 3D : 406*460*694*069*940 ...,1800557640936038793,https://pbs.twimg.com/media/GPzdn55aMAA1CUe.png,NaN,in,NaN,0,0,0,https://x.com/yupitoto88/status/1800557640936038793,1746107999226085376,yupitoto88,prediksi togel oregon juni angka main colok bebas top top top shio naga angka twins,6,Neutral
1911,1800557615824744466,Tue Jun 11 15:56:03 +0000 2024,0,Timnas menang tapi aku tetep kalah karo dee sik mbok gandeng tangane #TimnasDay,1800557615824744466,NaN,NaN,in,NaN,0,0,0,https://x.com/Lalalan111111/status/1800557615824744466,1552276761194274816,Lalalan111111,timnas menang tetep kalah karo dee sik mbok gandeng tangane,6,Sad
1912,1800557601232691595,Tue Jun 11 15:55:59 +0000 2024,0,buat mas mas belakang gue minta aidrop gol kedua maaf banget ternyata salah kirim yang dikirim bukan ya gol kedua #TimnasDay,1800557601232691595,NaN,NaN,in,NaN,0,1,0,https://x.com/celestiaalsky/status/1800557601232691595,1761777254135394304,celestiaalsky,mas mas aidrop gol maaf banget salah kirim dikirim gol,6,Sad
1913,1800557593167020374,Tue Jun 11 15:55:57 +0000 2024,0,ada yg punya foto bareng pas awal main ga? #TimnasDay,1800557593167020374,NaN,NaN,in,bukan akun rp,0,1,0,https://x.com/mrshubnerr/status/1800557593167020374,1641104358652903425,mrshubnerr,foto bareng pas main ga,8,Joy

In [165]:
train_data = checking[['full_text']]

In [166]:
nan_tweet = train_data['full_text'].isna().sum()

print(f"Jumlah nilai NaN di kolom 'full_text': {nan_tweet}")

Jumlah nilai NaN di kolom 'full_text': 0

In [167]:
train_data = train_data.dropna(subset=['full_text'])

print("Data yang telah dibersihkan")

Data yang telah dibersihkan

In [168]:
train_data.reset_index(inplace=True,drop=True)
train_data

                                                                   full_text
0  nikmati bisa senang-senang bareng teman tapi tetap produktif buat bekerja
1                                              pagi2 udah di buat emosi :)\t
2                                                   sedih bener niih club ya
3                                                      bgt! sepi dan serem\t
4                                                       sayang sama chikaa\t
5                                                 baru saja mengirimkan foto

# Preprocessing

In [169]:
import copy

train_data_copy = copy.deepcopy(train_data)

## 01. Case Folding

### a. Lowercase

In [170]:
def tweet_lowercase(tweet):
    tweet = tweet.lower()
    return tweet

In [171]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_lowercase)

CPU times: total: 0 ns
Wall time: 996 µs

In [172]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [173]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_lowercase)

CPU times: total: 0 ns
Wall time: 0 ns

## 02. Cleansing

### a. Menghapus username

In [174]:
import re

In [175]:
def tweet_delete_username(tweet):

    userPattern = r'@\w+'
    

    tweet = re.sub(userPattern, '', tweet)
    
    return tweet

In [176]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_delete_username)

CPU times: total: 0 ns
Wall time: 0 ns

In [177]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [178]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_delete_username)

CPU times: total: 0 ns
Wall time: 0 ns

### b. Menghapus url

In [179]:
def tweet_delete_url(tweet):
    urlPattern        = r"((http://)[^ ]*|(https://)[^ ]*|(www\.)[^ ]*|url)" #Pola ngehapus url
    tweet = re.sub(urlPattern, '', tweet)
    return tweet

In [180]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_delete_url)

CPU times: total: 0 ns
Wall time: 0 ns

In [181]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [182]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_delete_url)

CPU times: total: 0 ns
Wall time: 1 ms

### c. Menghapus kelebihan huruf

In [183]:
def tweet_delete_extra_letters(tweet):
    sequencePattern   = r'([A-Za-z])\1{2,}' 
    seqReplacePattern = r'\1' #Pola ngereplace yang kelebihan huruf tiga kali
    tweet = re.sub(sequencePattern, seqReplacePattern, tweet)
    
    return tweet

In [184]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_delete_extra_letters)

CPU times: total: 0 ns
Wall time: 1.22 ms

In [185]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [186]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_delete_extra_letters)

CPU times: total: 0 ns
Wall time: 1.01 ms

### d. Menghapus new line dan new text

In [187]:
def tweet_delete_new_line_new_text(tweet):
    tweet = re.sub(r'\\[nt]', ' ', tweet)
    return tweet

In [188]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_delete_new_line_new_text)

CPU times: total: 0 ns
Wall time: 1.18 ms

In [189]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [190]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_delete_new_line_new_text)

CPU times: total: 0 ns
Wall time: 0 ns

### e. Menghapus Hastag

In [191]:
def tweet_remove_hashtags(tweet):
    hashtag= r'#\w+'
    tweet = re.sub(hashtag, '', tweet)
    return tweet

In [192]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_remove_hashtags)

CPU times: total: 0 ns
Wall time: 1 ms

In [193]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})

pd.options.display.max_colwidth = 150

display(HTML(comparison_df.head(10).to_html()))

In [194]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_remove_hashtags)

CPU times: total: 0 ns
Wall time: 1.42 ms

### f. Menghapus angka

In [195]:
def tweet_delete_number(tweet):
    number = r'\d+' 
    tweet = re.sub(number, '', tweet)
    return tweet

In [196]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_delete_number)

CPU times: total: 0 ns
Wall time: 1.12 ms

In [197]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [198]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_delete_number)

CPU times: total: 0 ns
Wall time: 1.11 ms

### g. Menghapus tanda baca

In [199]:
def tweet_delete_punctuation(tweet):
    punctuationPattern = r'[^\w\s]' 
    tweet = re.sub(punctuationPattern, ' ', tweet)
    
    return tweet

In [200]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_delete_punctuation)

CPU times: total: 0 ns
Wall time: 1.11 ms

In [201]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [202]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_delete_punctuation)

CPU times: total: 0 ns
Wall time: 1.28 ms

### h. Menghapus Extra Spasi

In [203]:
def tweet_delete_extra_space(tweet):
    tweet = re.sub(r"\s+", " ", tweet)
    tweet = re.sub(r"^\s+|\s+$", "", tweet)
    
    return tweet

In [204]:
%%time
train_data["full_text"] = train_data["full_text"].apply(tweet_delete_extra_space)

CPU times: total: 0 ns
Wall time: 0 ns

In [205]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [206]:
%%time
train_data_copy["full_text"] = train_data_copy["full_text"].apply(tweet_delete_extra_space)

CPU times: total: 0 ns
Wall time: 1 ms

## 03. Normalization

### Import Kamus

In [207]:
kamus_singkatan = pd.read_csv("../02. Pengumpulan Data (Data Collection)/Dataset/Kamus/kamus_singkatan2.csv",delimiter=",")
kamus_singkatan

      Unnamed: 0.1  Unnamed: 0 singkatan kata asal
0                0         NaN    aamiin      amin
1                1         NaN      adek     adik
2                2         NaN      adlh    adalah
3                3         NaN        ad      ada
4                4         NaN       aer      air
...            ...         ...       ...       ...
1374          1573         NaN        lo      kamu
1375          1574         NaN        lu      kamu
1376          1575         NaN     anjim    anjing
1377          1576         NaN      ajgg    anjing
1378          1577         NaN     jamam     jaman

[1379 rows x 4 columns]

In [208]:
def create_kamus():
      kamus = {}
      for i in range(len(kamus_singkatan)):
          kamus[kamus_singkatan["singkatan"][i]]=kamus_singkatan["kata asal"][i].lower().strip()
      return kamus

In [209]:
kamus = create_kamus()
kamus

{'aamiin': 'amin',
 'adek': 'adik',
 'adlh': 'adalah',
 'ad': 'ada',
 'aer': 'air',
 'aiskrim': 'es krim',
 'aj': 'saja',
 'aja': 'saja',
 'ajah': 'saja',
 'ajalah': 'saja',
 'aje': 'saja',
 'ajh': 'saja',
 'ajj': 'saja',
 'aku': 'saya',
 'ak': 'saya',
 'akoh': 'saya',
 'akutu': 'saya',
 'aq': 'saya',
 'alesan': 'alasan',
 'ama': 'sama',
 'amaca': 'ah masa',
 'amuh': 'kamu',
 'ancur': 'hancur',
 'ane': 'saya',
 'anget': 'hangat',
 'anjeng': 'anjing',
 'ank': 'anak',
 'apah': 'apa',
 'aph': 'apa',
 'apo': 'apa',
 'apose': 'apa',
 'apz': 'apa',
 'artine': 'artinya',
 'asek': 'asik',
 'ati2': 'hati-hati',
 'atit': 'sakit',
 'atu': 'satu',
 'atw': 'atau',
 'ayang': 'sayang',
 'ayuk': 'ayo',
 'babang': 'abang',
 'bae': 'baik',
 'bais': 'habis',
 'bakalan': 'akan',
 'bales': 'balas',
 'bandingin': 'bandingkan',
 'banget': 'sekali',
 'bangett': 'sangat',
 'banyakin': 'perbanyak',
 'barengan': 'bersamaan',
 'baryaw': 'sabar ya',
 'baso': 'bakso',
 'bay': 'selamat tinggal',
 'bbrp': 'beberapa',
 'bc': 'baca',
 'bcs': 'bisa',
 'bct': 'bicara',
 'bdan': 'badan',
 'bdg': 'bandung',
 'bdn': 'badan',
 'becanda': 'bercanda',
 'bedua': 'berdua',
 'bego': 'bodoh',
 'bekel': 'bekal',
 'belom': 'belum',
 'belon': 'belum',
 'bener': 'benar',
 'bener2': 'benar-benar',
 'beneran': 'benar',
 'berantem': 'bertengkar',
 'berenti': 'berhenti',
 'besoq': 'besok',
 'bete': 'sebal',
 'beud': 'banget',
 'bg': 'bagi',
 'bgd': 'sangat',
 'bget': 'sangat',
 'bgini': 'begini',
 'bgitu': 'begitu',
 'bgks': 'bungkus',
 'bgm': 'bagaimana',
 'bgmn': 'bagaimana',
 'bgn': 'bangun',
 'bgni': 'begini',
 'bgntdr': 'bangun tidur',
 'bgs': 'bagus',
 'bgt': 'sangat',
 'bgtu': 'begitu',
 'bgus': 'bagus',
 'bhay': 'selamat tinggal',
 'bhn': 'bahan',
 'bhs': 'bahas',
 'bhw': 'bahwa',
 'bhy': 'bahaya',
 'bisaa': 'bisa',
 'bisya': 'bisa',
 'biza': 'bisa',
 'bj': 'baju',
 'bju': 'baju',
 'bk': 'buku',
 'bkan': 'bukan',
 'bkin': 'bikin',
 'bkl': 'bakal',
 'bkn': 'bukan',
 'bkr': 'bakar',
 'bks': 'bungkus',
 'bl': 'beli',
 'blajar': 'belajar',
 'blg': 'bilang',
 'blh': 'boleh',
 'bli': 'beli',
 'blik': 'balik',
 'bljr': 'belajar',
 'blk': 'balik',
 'blkg': 'belakang',
 'blkng': 'belakang',
 'blkngny': 'belakangnya',
 'blm': 'belum',
 'bln': 'bulan',
 'blng': 'bilang',
 'blngn': 'bilang',
 'blom': 'belum',
 'bls': 'balas',
 'blum': 'belum',
 'bndg': 'bandung',
 'bndr': 'bandar',
 'bner': 'benar',
 'bneran': 'benar',
 'bnget': 'sangat',
 'bngks': 'bungkus',
 'bngng': 'bingung',
 'bngt': 'sangat',
 'bngun': 'bangun',
 'bnr': 'benar',
 'bnrbnr': 'benar-benar',
 'bnrn': 'benar',
 'bntar': 'sebentar',
 'bntr': 'sebentar',
 'bnyak': 'banyak',
 'bnyk': 'banyak',
 'bnykny': 'banyaknya',
 'bobo': 'tidur',
 'bobok': 'tidur',
 'bokap': 'ayah',
 'bole': 'boleh',
 'boong': 'bohong',
 'bosen': 'bosan',
 'bpk': 'bapak',
 'brani': 'berani',
 'brapa': 'berapa',
 'brarti': 'berarti',
 'brasa': 'berasa',
 'brg': 'barang',
 'brgkt': 'berangkat',
 'brhsl': 'berhasil',
 'brjln': 'berjalan',
 'brkfst': 'breakfast',
 'brmslh': 'bermasalah',
 'brngkt': 'berangkat',
 'brp': 'berapa',
 'brpa': 'berapa',
 'brrti': 'berarti',
 'brs': 'beres',
 'brshbt': 'bersahabat',
 'brsm': 'bersama',
 'brthn': 'bertahan',
 'brtmn': 'berteman',
 'bru': 'baru',
 'bs': 'bisa',
 'bsa': 'bisa',
 'bsk': 'besok',
 'bsok': 'besok',
 'bsoq': 'besok',
 'bsr': 'besar',
 'btg': 'batang',
 'bth': 'butuh',
 'btl': 'betul',
 'btul': 'betul',
 'buad': 'buat',
 'buatin': 'buatkan',
 'bucin': 'budak cinta',
 'bulcit': 'omong kosong',
 'bw': 'bawa',
 'bwa': 'bawa',
 'bwh': 'bawah',
 'bwt': 'buat',
 'byk': 'banyak',
 'bynk': 'banyak',
 'byr': 'bayar',
 'cabal': 'sabar',
 'cabut': 'pergi',
 'caiank': 'sayang',
 'cakep': 'cakap',
 'cape': 'capai',
 'capek': 'capai',
 'catet': 'catat',
 'cb': 'coba',
 'cekola': 'sekolah',
 'cekolah': 'sekolah',
 'celalaw': 'selalu',
 'celalu': 'selalu',
 'cemungudh': 'semangat',
 'cemungut': 'semangat',
 'cemunguth': 'semangat',
 'cepet': 'cepat',
 'cewe': 'cewek',
 'cibuq': 'sibuk',
 'cini': 'sini',
 'ciyus': 'serius',
 'ckp': 'cukup',
 'ckrg': 'sekarang',
 'ckup': 'cukup',
 'cll': 'selalu',
 'cllu': 'selalu',
 'cllw': 'selalu',
 'cm': 'cuma',
 'cma': 'cuma',
 'cman': 'hanya',
 'cmn': 'hanya',
 'cmpk': 'cempaka',
 'cobaa': 'coba',
 'coeg': 'jancuk',
 'cowo': 'cowok',
 'cpat': 'cepat',
 'cpe': 'capek',
 'cpee': 'capek',
 'cpet': 'cepat',
 'cpt': 'cepat',
 'cptn': 'cepatan',
 'crt': 'cerita',
 'cth': 'contoh',
 'cug': 'jancuk',
 'cuk': 'jancuk',
 'cuman': 'hanya',
 'cungguh': 'sungguh',
 'cw': 'cewek',
 'cwe': 'cewek',
 'cwo': 'cowok',
 'cyang': 'sayang',
 'dah': 'sudah',
 'dalem': 'dalam',
 'dapa': 'ada apa',
 'dapah': 'ada apa',
 'dapet': 'dapat',
 'dapetin': 'mendapatkan',
 'dateng': 'datang',
 'dberkahi': 'diberkahi',
 'dblg': 'dibilang',
 'dblkng': 'dibelakang',
 'dbls': 'dibalas',
 'dbwt': 'dibuat',
 'dbyr': 'dibayar',
 'de': 'deh',
 'demen': 'suka',
 'denger': 'dengar',
 'deres': 'deras',
 'dftr': 'daftar',
 'dg': 'dengan',
 'dgn': 'dengan',
 'dgr': 'dengar',
 'dgrn': 'dengarin',
 'dh': 'deh',
 'didenger': 'didengar',
 'didengerin': 'didengarkan',
 'diem': 'diam',
 'dijadiin': 'dijadikan',
 'dikit': 'sedikit',
 'dimance': 'dimana',
 'dimandose': 'dimana',
 'dimans': 'dimana',
 'dipake': 'dipakai',
 'dipendem': 'dipendam',
 'dirmh': 'di rumah',
 'ditemenin': 'ditemani',
 'djkt': 'di jakarta',
 'djl': 'di jalan',
 'djln': 'di jalan',
 'dkat': 'dekat',
 'dket': 'dekat',
 'dkls': 'di kelas',
 'dkmps': 'di kampus',
 'dkmr': 'di kamar',
 'dkntr': 'di kantor',
 'dksh': 'dikasih',
 'dkt': 'dekat',
 'dl': 'dulu',
 'dll': 'dan lain',
 'dlm': 'dalam',
 'dlrng': 'dilarang',
 'dlu': 'dulu',
 'dluan': 'duluan',
 'dmana': 'dimana',
 'dmkn': 'dimakan',
 'dmn': 'dimana',
 'dmna': 'dimana',
 'dmnmn': 'dimana-mana',
 'dmny': 'dimananya',
 'dng': 'dengan',
 'dngar': 'dengar',
 'dnger': 'dengar',
 'dngerin': 'dengar',
 'dngn': 'dengan',
 'dngr': 'dengar',
 'doang': 'saja',
 'doank': 'saja',
 'donlot': 'download',
 'doyan': 'suka',
 'dpan': 'depan',
 'dpet': 'dapat',
 'dpk': 'depok',
 'dpkrkn': 'dipikirkan',
 'dpn': 'depan',
 'dpnrmh': 'depan rumah',
 'dpt': 'dapat',
 'dr': 'dari',
 'drg': 'dokter gigi',
 'drh': 'darah',
 'dri': 'dari',
 'drmh': 'di rumah',
 'drmn': 'darimana',
 'drpd': 'daripada',
 'drtd': 'dari tadi',
 'drumah': 'di rumah',
 'dsb': 'dan sebagainya',
 'dsblh': 'di sebelah',
 'dsini': 'disini',
 'dsklh': 'di sekolah',
 'dsni': 'di sini',
 'dst': 'dan seterusnya',
 'dtg': 'datang',
 'dtgny': 'datangnya',
 'dtmbh': 'ditambah',
 'dtmpt': 'di tempat',
 'dtng': 'datang',
 'duluw': 'dulu',
 'dy': 'dia',
 'ea': 'ya',
 'eeq': 'feses',
 'elo': 'kamu',
 'emang': 'memang',
 'emangnya': 'memangnya',
 'emank': 'memang',
 'emg': 'memang',
 'emng': 'memang',
 'engga': 'tidak',
 'enggak': 'tidak',
 'enk': 'enak',
 'entar': 'nanti',
 'ente': 'anda',
 'eps': 'episode',
 'eteb': 'bosan',
 'eug': 'saya',
 'faham': 'paham',
 'fb': 'facebook',
 'fav': 'favorit',
 'fave': 'favorit',
 'g': 'tidak',
 'ga': 'tidak',
 'gaada': 'tidak ada',
 'gabisa': 'tidak bisa',
 'gaboleh': 'tidak boleh',
 'gabut': 'menganggur',
 'gada': 'tidak ada',
 'gaenak': 'tidak enak',
 'gajadi': 'tidak jadi',
 'gajelas': 'tidak jelas',
 'gak': 'tidak',
 'gakuat': 'tidak kuat',
 'gakz': 'tidak',
 'galo': 'galau',
 'gamasuk': 'tidak masuk',
 'gamau': 'tidak mau',
 'gapake': 'tidak pakai',
 'gapapa': 'tidak apa-apa',
 'gapernah': 'tidak pernah',
 'gapunya': 'tidak punya',
 'garem': 'garam',
 'gasuka': 'tidak suka',
 'gatau': 'tidak tahu',
 'gataw': 'tidak tahu',
 'gatel': 'gatal',
 'gausah': 'tidak usah',
 'gawe': 'kerja',
 'gblk': 'goblok',
 'gbr': 'gambar',
 'gdg': 'gudang',
 'gembel': 'jelek',
 'gengges': 'ganggu',
 'ghiy': 'lagi',
 'gi': 'lagi',
 'gilak': 'gila',
 'gile': 'gila',
 'gitu': 'begitu',
 'gituan': 'begitu',
 'gituh': 'begitu',
 'gituin': 'itu',
 'gk': 'tidak',
 'gmana': 'bagaimana',
 'gmbr': 'gambar',
 'gmn': 'bagaimana',
 'gmna': 'bagaimana',
 'gmpg': 'gampang',
 'gmpng': 'gampang',
 'gni': 'begini',
 'gnti': 'ganti',
 'gpny': 'tidak punya',
 'gpp': 'tidak apa-apa',
 'gprnh': 'tidak pernah',
 'gr2': 'gara-gara',
 'gratisan': 'gratis',
 'gt': 'begitu',
 'gtu': 'begitu',
 'gtw': 'tidak tahu',
 'gua': 'saya',
 'gue': 'saya',
 'gw': 'saya',
 'gws': 'get well soon',
 'gx': 'tidak',
 'hadeh': 'aduh',
 'hapal': 'hafal',
 'haqq': 'hakiki',
 'hargain': 'hargai',
 'harini': 'hari ini',
 'hbd': 'happy birthday',
 'hbis': 'habis',
 'hbng': 'hubungi',
 'hbs': 'habis',
 'hbskn': 'habiskan',
 'helo': 'halo',
 'heters': 'pembenci',
 'hlg': 'hilang',
 'hlm': 'halaman',
 'hlmn': 'halaman',
 'hny': 'hanya',
 'hnya': 'hanya',
 'hqq': 'hakiki',
 'hr': 'hari',
 'hrg': 'harga',
 'hrgny': 'harganya',
 'hri': 'hari',
 'hrs': 'harus',
 'hrsny': 'harusnya',
 'hrus': 'harus',
 'hti': 'hati',
 'hums': 'rumah',
 'humz': 'rumah',
 'huum': 'iya',
 'idiiot': 'idiot',
 'idup': 'hidup',
 'ily': 'saya cinta kamu',
 'inget': 'ingat',
 'ingetin': 'ingatkan',
 'ingt': 'ingat',
 'istrht': 'istirahat',
 'item': 'hitam',
 'itumah': 'itu',
 'ituu': 'itu',
 'iy': 'iya',
 'iyach': 'iya',
 'iyain': 'mengiyakan',
 'iyap': 'iya',
 'iyapz': 'iya',
 'iyoo': 'iya',
 'iyup': 'iya',
 'iyupz': 'iya',
 'jadiin': 'jadi',
 'jadull': 'jadul',
 'jamber': 'jam berapa',
 'jancoeg': 'jancuk',
 'jatoh': 'jatuh',
 'jawabanya': 'jawabannya',
 'jd': 'jadi',
 'jdi': 'jadi',
 'jdny': 'jadinya',
 'jdnya': 'jadinya',
 'jdwl': 'jadwal',
 'jem': 'jam',
 'jg': 'juga',
 'jga': 'juga',
 'jgan': 'jangan',
 'jglh': 'jagalah',
 'jgn': 'jangan',
 'jgnjgn': 'jangan-jangan',
 'jing': 'anjing',
 'jink': 'anjing',
 'jk': 'jika',
 'jkrt': 'jakarta',
 'jkt': 'jakarta',
 'jl': 'jalan',
 'jln': 'jalan',
 'jm': 'jam',
 'jmbtn': 'jembatan',
 'jml': 'jumlah',
 'jmlh': 'jumlah',
 'jmpt': 'jemput',
 'jmt': 'jumat',
 'jng': 'jangan',
 'jngan': 'jangan',
 'jngn': 'jangan',
 'jpn': 'jepang',
 'jrg': 'jarang',
 'jrng': 'jarang',
 'jwb': 'jawab',
 'jwbn': 'jawaban',
 'jwbny': 'jawabannya',
 'kacian': 'kasihan',
 'kagak': 'tidak',
 'kaka': 'kakak',
 'kalee': 'kali',
 'kaleyan': 'kalian',
 'kalo': 'kalau',
 'kalu': 'kalau',
 'kamsud': 'maksud',
 'kaos/mug/jaket': '',
 'karna': 'karena',
 'karoke': 'karaoke',
 'kasian': 'kasihan',
 'kau': 'kamu',
 'kayak': 'mirip',
 'kayanya': 'kayaknya',
 'kbnykn': 'kebanyakan',
 'kbr': 'kabar',
 'kbtln': 'kebetulan',
 'kbykn': 'kebanyakan',
 'kdg': 'kadang',
 'kdng': 'kadang',
 'kdpn': 'ke depan',
 'kebawa': 'terbawa',
 'kecakepan': 'kecakapan',
 'keknya': 'sepertinya',
 'kelaperan': 'kelaparan',
 'kelar': 'selesai',
 'keles': 'kali',
 'keliatan': 'kelihatan',
 'kemaren': 'kemarin',
 'kenapah': 'kenapa',
 'kenape': 'kenapa',
 'kenaps': 'kenapa',
 'kenapz': 'kenapa',
 'kenceng': 'kencang',
 'kepengen': 'ingin',
 'kepngn': 'ingin',
 'kepo': 'ingin tahu',
 'kerikil': 'kerikil',
 'kesampean': 'kesampaian',
 'kesel': 'kesal',
 'kesian': 'kasihan',
 'ketawa': 'tertawa',
 'keujanan': 'kehujanan',
 'keyen': 'keren',
 'kga': 'tidak',
 'kgak': 'tidak',
 'kgk': 'tidak',
 'khabar': 'kabar',
 'khan': 'kan',
 'khanz': 'kan',
 'khsny': 'khususnya',
 'khwtr': 'khawatir',
 'kirimin': 'kirimkan',
 'kite': 'kita',
 'kk': 'kakak',
 'kl': 'kalau',
 'klau': 'kalau',
 'klh': 'kalah',
 'kli': 'kali',
 'klmpk': 'kelompok',
 'klo': 'kalau',
 'klp': 'kelompok',
 'kls': 'kelas',
 'klu': 'kalau',
 'kluar': 'keluar',
 'klw': 'kalau',
 'km': 'kamu',
 'kmaren': 'kemarin',
 'kmi': 'kami',
 'kmn': 'kemana',
 'kmna': 'kemana',
 'kmpret': 'kampret',
 'kmps': 'kamus',
 'kmr': 'kamar',
 'kmren': 'kemarin',
 'kmrin': 'kemarin',
 'kmrn': 'kemarin',
 'kmu': 'kamu',
 'kn': 'kan',
 'kna': 'kena',
 'knapa': 'kenapa',
 'kngen': 'kangen',
 'knl': 'kenal',
 'knp': 'kenapa',
 'knpa': 'kenapa',
 'kntr': 'kantor',
 'knyng': 'kenyang',
 'konsen': 'konsentrasi',
 'koq': 'kok',
 'kosan': 'kost',
 'kowe': 'kamu',
 'kpala': 'kepala',
 'kpan': 'kapan',
 'kpd': 'kepada',
 'kpgn': 'ingin',
 'kpn': 'kapan',
 'kpngn': 'ingin',
 'krg': 'kurang',
 'krikil': 'kerikil',
 'krja': 'kerja',
 'krmh': 'ke rumah',
 'krn': 'karena',
 'krna': 'karena',
 'krng': 'kurang',
 'krupuk': 'kerupuk',
 'ksh': 'kasih',
 'ksian': 'kasihan',
 'ksih': 'kasih',
 'ksmptn': 'kesempatan',
 'ksn': 'kesana',
 'kt': 'kita',
 'kta': 'kita',
 'ktdrn': 'ketiduran',
 'ktemu': 'ketemu',
 'ktmpt': 'ke tempat',
 'ktmu': 'ketemu',
 'ktny': 'katanya',
 'ktnya': 'katanya',
 'ktr': 'kantor',
 'kuq': 'kok',
 'kuy': 'ayo',
 'kw': 'kamu',
 'kyak': 'seperti',
 'kyaknya': 'sepertinya',
 'kyanya': 'sepertinya',
 'kyk': 'seperti',
 'kykny': 'sepertinya',
 'kyknya': 'sepertinya',
 'kyny': 'sepertinya',
 'kzl': 'kesal',
 'laen': 'lain',
 'laff': 'cinta',
 'lagian': 'lagi',
 'lam': 'salam',
 'laper': 'lapar',
 'lb': 'lembar',
 'lbh': 'lebih',
 'lbih': 'lebih',
 'leh': 'boleh',
 'lelaahh': 'lelah',
 'lemes': 'lemas',
 'lg': 'lagi',
 'lgi': 'lagi',
 'lgkp': 'lengkap',
 'lgs': 'langsung',
 'lgsg': 'langsung',
 'lgsng': 'langsung',
 'lgsung': 'langsung',
 'liatin': 'lihat',
 'lm': 'lama',
 'lmyn': 'lumayan',
 'lngkp': 'lengkap',
 'lngsg': 'langsung',
 'lngsng': 'langsung',
 'lngsung': 'langsung',
 'lnjt': 'lanjut',
 'lnsg': 'langsung',
 'lnsng': 'langsung',
 'lo': 'kamu',
 'loe': 'kamu',
 'lom': 'belum',
 'lov': 'cinta',
 'love': 'cinta',
 'low': 'kalau',
 'lp': 'lupa',
 'lpngn': 'lapangan',
 'lpr': 'lapar',
 'lsg': 'langsung',
 'lu': 'kamu',
 'luchu': 'lucu',
 'lum': 'belum',
 'lun': 'belum',
 'luthu': 'lucu',
 'luv': 'cinta',
 'lvl': 'level',
 'lw': 'kamu',
 'lwt': 'lewat',
 'maaci': 'terima kasih',
 'maacih': 'terima kasih',
 'maap': 'maaf',
 'maen': 'main',
 'mager': 'malas bergerak',
 'makaci': 'terima kasih',
 'makana': 'karena itu',
 'makasi': 'terima kasih',
 'makasihhh': 'terima kasih',
 'make': 'pakai',
 'makn': 'makan',
 'malem': 'malam',
 'malem2': 'malam-malam',
 'malming': 'malam minggu',
 'mamah': 'mama',
 'mamam': 'makan',
 'mampet': 'mampat',
 'mane': 'mana',
 'maneh': 'mana',
 'manggil': 'panggil',
 'mano': 'mana',
 'mantep': 'mantap',
 'masakin': 'masakan',
 'mateng': 'matang',
 'maw': 'mau',
 'mcm': 'macam',
 'mct': 'macet',
 'mdg': 'lebih baik',
 'mdgn': 'baikan',
 'mdh': 'mudah',
 'mdpt': 'mendapat',
 'melulu': 'selalu',
 'mendingan': 'lebih baik',
 'menyempurnakan': '',
 'merhatiin': 'memperhatikan',
 'mesen': 'pesan',
 'mgkn': 'mungkin',
 'mhs': 'mahasiswa',
 'mhsw': 'mahasiswa',
 'miapa': 'demi apa',
 'miapah': 'demi apa',
 'mikirin': 'memikirkan',
 'milih': 'pilih',
 'minjem': 'pinjam',
 "misal'a": 'misalnya',
 'mk': 'maka',
 'mka': 'maka',
 'mkan': 'makan',
 'mkanan': 'makanan',
 'mkanya': 'makanya',
 'mkn': 'makan',
 'mknan': 'makanan',
 'mkny': 'maka itu',
 'mksd': 'maksud',
 'mksdny': 'maksudnya',
 'mksdnya': 'maksudnya',
 'mksdq': 'maksudku',
 'mksh': 'terima kasih',
 'mksih': 'terima kasih',
 'mlah': 'malah',
 'mlm': 'malam',
 'mls': 'malas',
 'mmg': 'memang',
 'mn': 'mana',
 'mna': 'mana',
 'mndg': 'lebih baik',
 'mndgn': 'lebih baik',
 'mndgr': 'mendengar',
 'mndi': 'mandi',
 'mnding': 'lebih baik',
 'mndptkn': 'mendapatkan',
 'mng': 'menang',
 'mnrt': 'menurut',
 'mnsempurnakan': '',
 'mnt': 'minta',
 'mnta': 'minta',
 'mntp': 'mantap',
 'mnum': 'minum',
 'mnyakitiku': 'menyakitiku',
 'mnyngkn': 'menyenangkan',
 'mo': 'mau',
 'moga': 'semoga',
 'mosok': 'masa',
 'mreka': 'mereka',
 'mrh': 'marah',
 'mrk': 'mereka',
 'ms': 'mas',
 'msg': 'masing',
 'msh': 'masih',
 'msih': 'masih',
 'msk': 'masuk',
 'mski': 'meski',
 'mskipun': 'meskipun',
 'mskn': 'masakan',
 'msl': 'misal',
 'mslh': 'masalah',
 'msti': 'harus',
 'muke': 'muka',
 'mulu': 'terus',
 'musti': 'harus',
 'muup': 'maaf',
 "mu'uv": 'maaf',
 'mw': 'mau',
 'mz': 'mas',
 'nabung': 'tabung',
 'naek': 'naik',
 'nahan': 'tahan',
 'nak': 'anak',
 'nambah': 'tambah',
 'nanya': 'tanya',
 'napa': 'kenapa',
 'napas': 'nafas',
 'nape': 'kenapa',
 'naq': 'anak',
 'nasgor': 'nasi goreng',
 'nax': 'anak',
 'nda': 'tidak',
 'ndak': 'tidak',
 'ndax': 'tidak',
 'ndk': 'tidak',
 'negri': 'negeri',
 'nelen': 'telan',
 'nemenin': 'menemani',
 'nemu': 'temu',
 'nengok': 'tengok',
 'ngabungin': 'menggabungkan',
 'ngadain': 'mengadakan',
 'ngajak': 'mengajak',
 'ngajar': 'ajar',
 'ngak': 'tidak',
 'ngakak': 'terbahak-bahak',
 'ngambek': 'marah',
 'ngambil': 'ambil',
 'nganter': 'antar',
 'nganterin': 'antar',
 'ngarep': 'mengharap',
 'ngarepinnya': 'mengharapkannya',
 'ngasi': 'kasih',
 'ngasih': 'kasih',
 'ngegosip': 'gosip',
 'ngehadepin': 'menghadapi',
 'ngeliatin': 'melihat',
 'ngeluh': 'keluh',
 'ngerasa': 'merasa',
 'ngerasain': 'merasakan',
 'ngerjain': 'mengerjakan',
 'ngerokok': 'merokok',
 'ngetik': 'ketik',
 'ngga': 'tidak',
 'nggak': 'tidak',
 'nggax': 'tidak',
 'nggesek': 'menggesek',
 'nggk': 'tidak',
 'nggosok': 'menggosok',
 'ngibul': 'berbohong',
 'ngidam': 'idam',
 'ngikutin': 'ikuti',
 'ngilangin': 'menghilangkan',
 'nginep': 'menginap',
 'ngingetin': 'mengingatkan',
 'ngjk': 'mengajak',
 'ngk': 'tidak',
 'ngmbl': 'mengambil',
 'ngmg': 'omong',
 'ngmng': 'berbicara',
 'ngmpl': 'berkumpul',
 'ngmps': 'ke kampus',
 'ngntk': 'mengantuk',
 'ngntr': 'ke kantor',
 'ngobatin': 'obati',
 'ngobrol': 'bicara',
 'ngomong': 'bicara',
 'ngomongin': 'membicarakan',
 'ngrasain': 'merasakan',
 'ngundurin': 'mengundurkan',
 'ngunyah': 'kunyah',
 'ngurus': 'urus',
 'ni': 'ini',
 'nich': 'ini',
 'ninggalin': 'tinggalkan',
 'nmbh': 'tambah',
 'nmny': 'namanya',
 'nmpk': 'nampak',
 'nmr': 'nomor',
 'nnti': 'nanti',
 'nntn': 'nonton',
 'nnton': 'nonton',
 'nolak': 'tolak',
 'nraktir': 'traktir',
 'ntah': 'entah',
 'ntap': 'mantap',
 'ntar': 'nanti',
 'nti': 'nanti',
 'ntn': 'nonton',
 'nton': 'nonton',
 'ntr': 'nanti',
 'ntu': 'itu',
 'nungguin': 'tunggu',
 'nyakiti': 'menyakiti',
 'nyakitin': 'menyakiti',
 'nyalain': 'nyalakan',
 'nyampe': 'sampai',
 'nyangka': 'sangka',
 'nyantai': 'santai',
 'nyari': 'cari',
 'nyebelin': 'menyebalkan',
 'nyeremin': 'menyeramkan',
 'nyesek': 'sesak',
 'nyesel': 'menyesal',
 'nyetel': 'setel',
 'nyiksa': 'menyiksa',
 'nyoba': 'coba',
 'nyobain': 'coba',
 'nyuci': 'cuci',
 'nyukur': 'cukur',
 'nyuruh': 'suruh',
 'nyusul': 'susul',
 'oc': 'oke',
 'oce': 'oke',
 'ohh': 'oh',
 'ok': 'oke',
 'okedech': 'oke',
 'okedeh': 'oke',
 'okeh': 'baik',
 'okz': 'oke',
 'ol': 'online',
 'org': 'orang',
 'org2': 'orang-orang',
 'orng': 'orang',
 'ortu': 'orangtua',
 'ouch': 'oh',
 'ouh': 'oh',
 'owh': 'oh',
 'pait': 'pahit',
 'pake': 'pakai',
 'pakek': 'pakai',
 'pantesan': 'pantas',
 'pasutri': 'pasangan suami istri',
 'paz': 'pas',
 'pcr': 'pacar',
 'pcrn': 'pacaran',
 'pcrny': 'pacarnya',
 'pd': 'pada',
 'pdahal': 'padahal',
 'pdhal': 'padahal',
 'pdhl': 'padahal',
 'pedes': 'pedas',
 'pegi': 'pergi',
 'pengen': 'ingin',
 'penghianat': 'pengkhianat',
 'pengin': 'ingin',
 'pesen': 'pesan',
 'pg': 'pergi',
 'pgen': 'ingin',
 'pgn': 'ingin',
 'pilem': 'film',
 'pingin': 'ingin',
 'pinjem': 'pinjam',
 'pinter': 'pintar',
 'pkai': 'pakai',
 'pke': 'pakai',
 'plg': 'pulang',
 'plis': 'tolong',
 'pljrn': 'pelajaran',
 'plng': 'pulang',
 'pmpuan': 'perempuan',
 'pndh': 'pindah',
 'pngen': 'ingin',
 'pngn': 'ingin',
 'pnjng': 'panjang',
 'pnting': 'penting',
 'pntng': 'penting',
 'pny': 'punya',
 'pnya': 'punya',
 'pokonya': 'pokoknya',
 'praktek': 'praktik',
 'prasaan': 'perasaan',
 'prgi': 'pergi',
 'prmhn': 'perumahan',
 'prmptn': 'perempatan',
 'prnah': 'pernah',
 'prnh': 'pernah',
 'prthnkn': 'pertahankan',
 'psg': 'pasang',
 'psng': 'pasang',
 'psr': 'pasar',
 'psti': 'pasti',
 'ptg': 'penting',
 'punye': 'punya',
 'puter': 'putar',
 'puterin': 'putar',
 'pzt': 'pasti',
 'q': 'saya',
 'qaqa': 'kakak',
 'qq': 'kakak',
 'qt': 'kita',
 'qta': 'kita',
 'rada': 'agak',
 'rame': 'ramai',
 'rame2': 'ramai-ramai',
 'rasane': 'rasanya',
 'rb': 'ribu',
 'rmbt': 'rambut',
 'rmh': 'rumah',
 'rmhq': 'rumahku',
 'rsk': 'rusak',
 'sabeb': 'bebas',
 'sabi': 'bisa',
 'saje': 'saja',
 'salfok': 'salah fokus',
 'saltum': 'salah kostum',
 'sambel': 'sambal',
 'samo': 'sama',
 'sampe': 'sampai',
 'sans': 'santai',
 'sape': 'siapa',
 'sateny': 'satenya',
 ...}

In [210]:
def tweet_replace_contractions(tweet):
    pattern = re.compile(r'\b(' + '|'.join(re.escape(contraction) for contraction in kamus.keys()) + r')\b')
    tweet = pattern.sub(lambda x: kamus[x.group()], tweet)
    return tweet

In [211]:
%%time
for i in range(len(train_data)):
    print(f"Baris ke-{i}")
    kalimat = train_data["full_text"][i]
    kalimat = tweet_replace_contractions(kalimat)
    train_data.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 8.71 ms

In [212]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [213]:
%%time
for i in range(len(train_data_copy)):
    print(f"Baris ke-{i}")
    kalimat = train_data_copy["full_text"][i]
    kalimat = tweet_replace_contractions(kalimat)
    train_data_copy.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 11.6 ms

## 04. Stopword Removal

Library : Sastrawi

In [214]:
def tweet_stopwords_removal(tweet):
    factory = StopWordRemoverFactory()
    stopword = factory.create_stop_word_remover()
    tweet = stopword.remove(tweet)
    return tweet

In [215]:
%%time
for i in range(len(train_data)):
    print(f"Baris ke-{i}")
    kalimat = train_data["full_text"][i]
    kalimat = tweet_stopwords_removal(kalimat)
    train_data.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 1 ms

In [216]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [217]:
%%time
for i in range(len(train_data_copy)):
    print(f"Baris ke-{i}")
    kalimat = train_data_copy["full_text"][i]
    kalimat = tweet_stopwords_removal(kalimat)
    train_data_copy.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 0 ns

## 05. Stemming

mpstemmer

In [218]:
from mpstemmer import MPStemmer

def stemming_sentences(tweet):
    stemmer = MPStemmer()

    if isinstance(tweet, list):
        return [stemmer.stem(i) for i in tweet]
    else:
        return stemmer.stem(tweet)

In [219]:
%%time
for i in range(len(train_data)):
    print(f"Baris ke-{i}")
    kalimat = train_data["full_text"][i]
    kalimat = stemming_sentences(kalimat)
    train_data.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 31.2 ms
Wall time: 75.6 ms

In [220]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [221]:
%%time
for i in range(len(train_data_copy)):
    print(f"Baris ke-{i}")
    kalimat = train_data_copy["full_text"][i]
    kalimat = stemming_sentences(kalimat)
    train_data_copy.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2

Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 70.3 ms

## 06. Tokenization

In [222]:
import nltk
from nltk.tokenize import word_tokenize

nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\TEMP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [223]:
def tokenization_sentences(tweet):
    if isinstance(tweet, list):
        tokenized_tweet = []
        for word in tweet:
            tokens = word_tokenize(word)
            tokenized_tweet.extend(tokens)
        return tokenized_tweet
    else:
        return word_tokenize(tweet)

In [224]:
%%time
for i in range(len(train_data)):
    print(f"Baris ke-{i}")
    kalimat = train_data["full_text"][i]
    kalimat = tokenization_sentences(kalimat)
    train_data.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 3 ms

In [225]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [226]:
%%time
for i in range(len(train_data_copy)):
    print(f"Baris ke-{i}")
    kalimat = train_data_copy["full_text"][i]
    kalimat = tokenization_sentences(kalimat)
    train_data_copy.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 1.33 ms

## 07. Indexing

In [227]:
from collections import Counter

def build_vocabulary(tokenized_tweets):
    vocab = Counter()
    for tokens in tokenized_tweets:
        vocab.update(tokens)
    return {word: idx for idx, (word, _) in enumerate(vocab.items(), 1)}  # Indeks dimulai dari 1

tokenized_tweets = train_data['full_text']
vocab = build_vocabulary(tokenized_tweets)
print("Vocabulary:", vocab)

Vocabulary: {'nikmati': 1, 'senang': 2, 'bareng': 3, 'teman': 4, 'tetap': 5, 'produktif': 6, 'buat': 7, 'bekerja': 8, 'pagi': 9, 'di': 10, 'emosi': 11, 'sedih': 12, 'benar': 13, 'niih': 14, 'club': 15, 'iya': 16, 'sangat': 17, 'sepi': 18, 'seram': 19, 'sayang': 20, 'sama': 21, 'chikaa': 22, 'baru': 23, 'mengirimkan': 24, 'foto': 25}

In [228]:
def tweet_to_indices(tokens, vocab):
    return [vocab.get(word, 0) for word in tokens]

In [229]:
%%time
for i in range(len(train_data)):
    print(f"Baris ke-{i}")
    kalimat = train_data["full_text"][i]
    kalimat = tweet_to_indices(kalimat, vocab)
    train_data.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 0 ns

In [230]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [231]:
%%time
for i in range(len(train_data)):
    print(f"Baris ke-{i}")
    kalimat = train_data_copy["full_text"][i]
    kalimat = tweet_to_indices(kalimat, vocab)
    train_data.at[i, "full_text"] = kalimat

Baris ke-0
Baris ke-1
Baris ke-2
Baris ke-3
Baris ke-4
Baris ke-5
CPU times: total: 0 ns
Wall time: 0 ns

## 08. Padding

In [232]:
maxlen = 64

In [233]:
def pad_sequences(sequences, maxlen):
    padded_sequences = []
    for seq in sequences:
        if len(seq) < maxlen:
            padded_seq = seq + [0] * (maxlen - len(seq))
        else:
            padded_seq = seq[:maxlen]
        padded_sequences.append(padded_seq)
    return padded_sequences

In [234]:
%%time
for i in range(len(train_data)):
    print(f"Baris ke-{i}")
    kalimat = train_data["full_text"][i]
    kalimat = pad_sequences(kalimat)
    train_data.at[i, "full_text"] = kalimat

Baris ke-0

TypeError: pad_sequences() missing 1 required positional argument: 'maxlen'

In [235]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

# Saving Preposessing

In [236]:
comparison_df = pd.DataFrame({
    'Before ': train_data_copy['full_text'],
    'After ': train_data['full_text']
})


pd.options.display.max_colwidth = 150


display(HTML(comparison_df.head(10).to_html()))

In [237]:
train_data.to_csv("./Dataset_Clean/Dataset_Clean(checking).csv")