## **03. Integrasi Data (Data Integration)**

---

Menggabungkan data dari berbagai sumber menjadi satu set data yang konsisten dan kaya informasi.

A. Data Harmonization

B. Data Integration

C. Data Cleansing

## Import Library

In [143]:
import pandas as pd
import numpy

## A. Data Harmonization

### 1. Dataset (Public Opinion)

---
Kolom       : tweet, label (Aman)

Label       : "Love, Joy, Anger, Fear, Sad, Neutral" (aman)

In [144]:
dataset_publicopinion = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/1/(1)Dataset_Public_Opinion.csv', 
    sep="\t"
)

### 2. Dataset (IndoNLU)

---
Kolom       : tweet, label (Aman)

Label       : "Love, Happy, Anger, Fear, Sadness" (ganti happy dan sadness)

In [145]:
dataset_indonlu = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/2/(2)Dataset_IndonLU.csv',
      sep="\t"
)

dataset_indonlu

        label                                              tweet
0       Happy  Ini adalah hal yang paling membahagiakan saat ...
1       Anger    Dari pertama  menduduki bangku jabatan anda,...
2        Fear  yaudah kalo emang belum berani potong rambut p...
3        Fear  Jadi semalam, gw rekap, eh intinya yg gw usaha...
4       Anger  temen2 masa kecil yang turned out being asshol...
...       ...                                                ...
4396  Sadness  Ramadhan udah masuk hari yang ke-20 aja. tapi ...
4397  Sadness  kalo gue sik emang abis kehilangan seseorang y...
4398     Fear  aku dong malem ini checkup darah,, ok warning ...
4399    Anger  Dan besok musti pagi2 tangsel-bogor.. Dan (lag...
4400    Happy  Pelayaran Aman, Selamat, Tertib dan Nyaman Pas...

[4401 rows x 2 columns]

In [146]:
dataset_indonlu['label'] = dataset_indonlu['label'].replace({'Happy': 'Joy', 'Sadness': 'Sad'})
dataset_indonlu

      label                                              tweet
0       Joy  Ini adalah hal yang paling membahagiakan saat ...
1     Anger    Dari pertama  menduduki bangku jabatan anda,...
2      Fear  yaudah kalo emang belum berani potong rambut p...
3      Fear  Jadi semalam, gw rekap, eh intinya yg gw usaha...
4     Anger  temen2 masa kecil yang turned out being asshol...
...     ...                                                ...
4396    Sad  Ramadhan udah masuk hari yang ke-20 aja. tapi ...
4397    Sad  kalo gue sik emang abis kehilangan seseorang y...
4398   Fear  aku dong malem ini checkup darah,, ok warning ...
4399  Anger  Dan besok musti pagi2 tangsel-bogor.. Dan (lag...
4400    Joy  Pelayaran Aman, Selamat, Tertib dan Nyaman Pas...

[4401 rows x 2 columns]

### 3. Dataset (Meisaputri)

---
Kolom       : tweet, label (aman)

Label       : "Love, Joy, Anger, Fear, Sad" (ubah ukuran)

In [147]:
dataset_meisaputri= pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/3/(3)Dataset_MeisaPutri.csv',
      sep="\t"
)

dataset_meisaputri

      label                                              tweet
0     Anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1     Anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       Joy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3     Anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       Joy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...     ...                                                ...
4396   Love  Tahukah kamu, bahwa saat itu papa memejamkan m...
4397   Fear  Sulitnya menetapkan Calon Wapresnya Jokowi di ...
4398  Anger  5. masa depannya nggak jelas. lha iya, gimana ...
4399    Joy   dulu beneran ada mahasiswa Teknik UI nembak p...
4400    Sad  Ya Allah, hanya Engkau yang mengetahui rasa sa...

[4401 rows x 2 columns]

### 4. Dataset (Multiclass classification)

---
Kolom       : tweet, label (aman)

Label       : "Love, Joy, Anger, Fear, Sad" (aman)

In [148]:
dataset_multiclass = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/4/(4)Dataset_Multiclass.csv',
      sep="\t"
)

dataset_multiclass

      label                                              tweet
0      Fear  Lebih menyeramkan kalo punya grup WA keluarga ...
1       Joy  Hepibesdey canteeeekk  panjang umur, jadi prib...
2       Joy  Jumat lalu nonton inih! Selain tertarik settin...
3       Joy     Nyante dulu.. Sruput kopi biar tambah bijak...
4      Love  Happy annyversarry yg pertama kalinya .. Trsra...
...     ...                                                ...
4148  Anger  sini berobat sama saya ini ngantri dokter saja...
4149    Joy  Selamat pagi generasi Tik Tok yang kadang kepa...
4150   Love  Salah satu sahabat terbaik! Teman, kakak, insp...
4151  Anger   Gila kok ada ya perempuan pikirannya malah ny...
4152  Anger   saya coba hubungi yg di cakung dan minta di w...

[4153 rows x 2 columns]

### 5. Dataset (Twitter Dataset)

---
Kolom       : content, label (perubahaan)

Label       : "joy, fear, trust, anger, anticipation, disgust, sadness, surprise" (perubahan)

In [149]:
dataset_kaggle = pd.read_csv(
    '../02. Pengumpulan Data (Data Collection)/Dataset/Label/5/(5)Dataset_Kaggle.csv',
      sep="\t"
)

dataset_kaggle

                                                content         label
0     @04Nakula @jokowi @prabowo @Gerindra @Dailymot...           joy
1     @Achmadr06327297 @fadlizon @Gerindra @prabowo ...           joy
2     @Gerindra @PKSejahtera @prabowo Seandainya sek...          fear
3     @fadlizon @Gerindra @prabowo Saya dukung pak p...           joy
4     @Gerindra @PKSejahtera Mencari yang setia dan ...         trust
...                                                 ...           ...
8677  Aku pengen bnget nih,daerah jakarta barat ada ...  anticipation
8678  Selamat Hari Raya Tri Suci Waisak untuk seluru...           joy
8679  Kandungan serat di passion fruit atau markisa ...         trust
8680  Selamat memperingati Hari Kebangkitan Nasional...           joy
8681  Olive oil dapat digunakan untuk mengobati kuli...         trust

[8682 rows x 2 columns]

In [150]:
dataset_kaggle = dataset_kaggle.rename(columns={'content': 'tweet'})
dataset_kaggle

                                                  tweet         label
0     @04Nakula @jokowi @prabowo @Gerindra @Dailymot...           joy
1     @Achmadr06327297 @fadlizon @Gerindra @prabowo ...           joy
2     @Gerindra @PKSejahtera @prabowo Seandainya sek...          fear
3     @fadlizon @Gerindra @prabowo Saya dukung pak p...           joy
4     @Gerindra @PKSejahtera Mencari yang setia dan ...         trust
...                                                 ...           ...
8677  Aku pengen bnget nih,daerah jakarta barat ada ...  anticipation
8678  Selamat Hari Raya Tri Suci Waisak untuk seluru...           joy
8679  Kandungan serat di passion fruit atau markisa ...         trust
8680  Selamat memperingati Hari Kebangkitan Nasional...           joy
8681  Olive oil dapat digunakan untuk mengobati kuli...         trust

[8682 rows x 2 columns]

Penjelasan :

1. Joy (Bliss, Contentment, Pride):
Kelas Emosi: Joy

2. Fear (Horror, Worry):
Kelas Emosi: Fear

3. Trust:
Kelas Emosi: Love (Karena Trust biasanya terkait dengan rasa kasih sayang atau kepercayaan yang tinggi)

4. Anger (Annoyance, Contempt, Hostility, Jealousy):
Kelas Emosi: Anger

5. Anticipation:
Kelas Emosi: Neutral (Anticipation tidak tercermin secara eksplisit dalam pohon emosi ini, sehingga dapat diklasifikasikan sebagai netral)

6. Disgust (termasuk dalam kategori Anger dengan Contempt):
Kelas Emosi: Anger

7. Sadness (Agony, Grief, Guilt, Loneliness):
Kelas Emosi: Sad

8. Surprise:
Kelas Emosi: Neutral (Surprise tidak tercermin secara eksplisit dalam pohon emosi ini, sehingga dapat diklasifikasikan sebagai netral)


Berikut adalah ringkasan pengelompokan berdasarkan gambar pohon emosi:

1. Neutral: Anticipation, Surprise

2. Joy: Joy

3. Fear: Fear

4. Love: Trust

5. Sad: Sadness

6. Anger: Anger, Disgust

In [151]:
label_mapping = {
    'joy': 'Joy',
    'fear': 'Fear',
    'trust': 'Love',
    'anger': 'Anger',
    'anticipation': 'Neutral',
    'disgust': 'Anger',
    'sadness': 'Sad',
    'surprise': 'Neutral'
}

# Mengganti nilai pada kolom 'label'
dataset_kaggle['label'] = dataset_kaggle['label'].map(label_mapping)

dataset_kaggle

                                                  tweet    label
0     @04Nakula @jokowi @prabowo @Gerindra @Dailymot...      Joy
1     @Achmadr06327297 @fadlizon @Gerindra @prabowo ...      Joy
2     @Gerindra @PKSejahtera @prabowo Seandainya sek...     Fear
3     @fadlizon @Gerindra @prabowo Saya dukung pak p...      Joy
4     @Gerindra @PKSejahtera Mencari yang setia dan ...     Love
...                                                 ...      ...
8677  Aku pengen bnget nih,daerah jakarta barat ada ...  Neutral
8678  Selamat Hari Raya Tri Suci Waisak untuk seluru...      Joy
8679  Kandungan serat di passion fruit atau markisa ...     Love
8680  Selamat memperingati Hari Kebangkitan Nasional...      Joy
8681  Olive oil dapat digunakan untuk mengobati kuli...     Love

[8682 rows x 2 columns]

## B. Data Integration

---

Menggabungkannya menjadi satu dataset yang kohesif.

In [152]:
dataset_integration = pd.concat([dataset_publicopinion, dataset_indonlu, dataset_meisaputri, dataset_multiclass, dataset_kaggle], ignore_index=True)
dataset_integration

                                                   tweet    label
0        pengabdian yang terpuji meskipun terlihat biasa  Neutral
1                                baru saja mengirim foto  Neutral
2      apa kabar dunia twitter ? masihkah selucu dan ...  Neutral
3      yah gimana sih yang yaudah susul aku dulu kita...  Neutral
4                    saja ka dorg suro beli medium 2 set  Neutral
...                                                  ...      ...
28712  Aku pengen bnget nih,daerah jakarta barat ada ...  Neutral
28713  Selamat Hari Raya Tri Suci Waisak untuk seluru...      Joy
28714  Kandungan serat di passion fruit atau markisa ...     Love
28715  Selamat memperingati Hari Kebangkitan Nasional...      Joy
28716  Olive oil dapat digunakan untuk mengobati kuli...     Love

[28717 rows x 2 columns]

## C. Data Cleansing

---

Proses ini mencakup identifikasi dan penyelesaian masalah ketidakkonsistenan dalam data, seperti menghapus duplikasi, menangani nilai yang hilang dengan imputasi atau penghapusan, dan memperbaiki data yang bertentangan.

In [153]:
dataset_integration = dataset_integration.dropna(subset=['tweet'])

In [154]:
#dataset_integration.drop_duplicates(subset=['tweet'], inplace=True)

In [155]:
dataset_integration

                                                   tweet    label
0        pengabdian yang terpuji meskipun terlihat biasa  Neutral
1                                baru saja mengirim foto  Neutral
2      apa kabar dunia twitter ? masihkah selucu dan ...  Neutral
3      yah gimana sih yang yaudah susul aku dulu kita...  Neutral
4                    saja ka dorg suro beli medium 2 set  Neutral
...                                                  ...      ...
28712  Aku pengen bnget nih,daerah jakarta barat ada ...  Neutral
28713  Selamat Hari Raya Tri Suci Waisak untuk seluru...      Joy
28714  Kandungan serat di passion fruit atau markisa ...     Love
28715  Selamat memperingati Hari Kebangkitan Nasional...      Joy
28716  Olive oil dapat digunakan untuk mengobati kuli...     Love

[28715 rows x 2 columns]

In [156]:
dataset_integration.to_csv('Dataset_Integration.csv', sep='\t', index=False)