## **06. Transformasi Data (Data Transformation)**

---
- Mengubah ke refesentasi vektor

- Membagi data ke datavalid, data testing, dan data training

## Import Library

In [62]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import os
import random

Loading Data

In [63]:
data1= pd.read_csv(
    '../05. Pra-pemrosesan Data (Data Preprocessing)/Dataset_Clean/Dataset_clean(penelitian).csv', 
    sep=","
)

In [64]:
data2 = pd.read_csv(
    '../05. Pra-pemrosesan Data (Data Preprocessing)/Dataset_Clean/Dataset_clean(aplikasi).csv', 
    sep=","
)

In [65]:
label_counts = data2['emotion'].value_counts()

label_counts

emotion
Neutral                          9434
Joy                              5674
Anger                            5312
Fear                             4510
Sad                              2418
Love                              985
Skipped due to content policy     286
Name: count, dtype: int64

In [66]:
data1 = data1[data1['emotion'] != 'Skipped due to content policy']

In [67]:
data2 = data2[data2['emotion'] != 'Skipped due to content policy']

In [68]:
label_counts = data2['emotion'].value_counts()

label_counts

emotion
Neutral    9434
Joy        5674
Anger      5312
Fear       4510
Sad        2418
Love        985
Name: count, dtype: int64

In [69]:
label_counts = data1['emotion'].value_counts()

label_counts

emotion
Joy        6638
Anger      5757
Sad        4857
Love       4411
Neutral    3550
Fear       3487
Name: count, dtype: int64

In [70]:
data_final = pd.concat([data1, data2])
data_final

       Unnamed: 0                                          full_text  emotion
0               0         pengabdian terpuji meskipun terlihat biasa  Neutral
1               1                                 baru mengirim foto  Neutral
2               2  apa kabar dunia twitter masihkah selucu seabsu...  Neutral
3               3  yah gimana sih yaudah susul sebelumnya sarapan...  Neutral
4               4                       ka dorg suro beli medium set  Neutral
...           ...                                                ...      ...
28614       28614  cod beli euphoria wonderland la foret fairy ha...      Joy
28615       28615  ลองด cod flash sale ก โล แมคคายกกระสอบ ต กก ต ...      Joy
28616       28616          wal cod an shopee kawa pakai qris lah yuu  Neutral
28617       28617  temukan bisa cod light stick treasure bluetoot...  Neutral
28618       28618  wts want to sell ina lfb postcard chill kill b...  Neutral

[57033 rows x 3 columns]

In [71]:
data = data_final.drop(['Unnamed: 0'], axis=1)

In [72]:
data = pd.concat([data1, data2])
data

       Unnamed: 0                                          full_text  emotion
0               0         pengabdian terpuji meskipun terlihat biasa  Neutral
1               1                                 baru mengirim foto  Neutral
2               2  apa kabar dunia twitter masihkah selucu seabsu...  Neutral
3               3  yah gimana sih yaudah susul sebelumnya sarapan...  Neutral
4               4                       ka dorg suro beli medium set  Neutral
...           ...                                                ...      ...
28614       28614  cod beli euphoria wonderland la foret fairy ha...      Joy
28615       28615  ลองด cod flash sale ก โล แมคคายกกระสอบ ต กก ต ...      Joy
28616       28616          wal cod an shopee kawa pakai qris lah yuu  Neutral
28617       28617  temukan bisa cod light stick treasure bluetoot...  Neutral
28618       28618  wts want to sell ina lfb postcard chill kill b...  Neutral

[57033 rows x 3 columns]

In [74]:
data = data.to_csv('Dataset_final.csv')

In [73]:
import pandas as pd
import numpy as np
from sklearn.utils import resample

# Define the target range for the number of samples
min_samples = 7401
max_samples = 8131

# Separate each class in data2 into different DataFrames
label_groups = data2.groupby('label')

# Initialize a list to hold the updated data
updated_data = []

# Process each label group
for label, group in label_groups:
    current_count = len(group)
    target_count = np.random.randint(min_samples, max_samples + 1)
    if current_count < target_count:
        additional_count = target_count - current_count
        data_update_label = data[data['label'] == label]
        if len(data_update_label) > 0:
            additional_samples = resample(data_update_label, replace=True, n_samples=additional_count, random_state=42)
            updated_group = pd.concat([group, additional_samples])
        else:
            updated_group = group
    else:
        updated_group = group
    updated_data.append(updated_group)

# Combine the updated data into one DataFrame
final_data = pd.concat(updated_data).sample(frac=1, random_state=42).reset_index(drop=True)

# Check the new class distribution
label_counts_final = final_data['label'].value_counts()
print(label_counts_final)

KeyError: 'label'

In [ ]:
final_data

       Unnamed: 0                                              tweet    label
0           12658  ['romi', 'romi', 'mulutmu', 'lho', 'jangan', '...    Anger
1           18268     ['apa', 'berlaku', 'via', 'gojek', 'biasanya']  Neutral
2             368  ['hoho', 'kokk', 'sunbaenimm', 'tuh', 'baik', ...  Neutral
3           24097  ['kaget', 'dibilang', 'viral', 'padahal', 'bas...  Neutral
4           19758  ['merasa', 'melepaskan', 'rasa', 'marah', 'seb...    Anger
...           ...                                                ...      ...
46166        4874         ['ayo', 'mam', 'dulu', 'reonnya', 'marah']     Fear
46167       25509  ['percuma', 'indonesia', 'maju', 'kalau', 'rak...      Sad
46168       37976  ['politik', 'mata', 'anak', 'muda', 'gen', 'z'...  Neutral
46169        2861  ['tebak', 'kemarin', 'khawatir', 'bakal', 'tur...    Anger
46170        5452  ['bila', 'akhirnya', 'bahagiaku', 'bukan', 'be...      Joy

[46171 rows x 3 columns]

In [ ]:
final_data.to_csv('Data_Balancing/Data(8000).csv', index=False)