## **02. Pengumpulan Data (Data Collection)**

---

Mengumpulkan data yang relevan dari berbagai sumber.
- **Dataset Label (Sudah Mempunyai Label)**             : Mengumpulkan data dari berbagai sumber penelitian
- **Dataset Crawling (Belum Mempunyai Label)**          : Mengumpulkan data dari proses crawling menggunakan "tweet harvest"

## Import Library

In [138]:
import pandas as pd
import numpy

## A. Dataset Label (Sudah Mempunyai Label)

### 1. Dataset (Public Opinion)

---

Penelitian  : "Emotion Dataset from Indonesia public opinion"

Referensi   : https://github.com/Ricco48/Emotion-Dataset-from-Indonesian-Public-Opinion/blob/main/README.md


Label       : "Love, Joy, Anger, Fear, Sad, Neutral"

In [139]:
neutral_publicopinion = pd.read_csv("./Dataset/Label/1/NeutralData.csv", on_bad_lines="skip", delimiter="\t")
neutral_publicopinion

                                                  tweet    label
0       pengabdian yang terpuji meskipun terlihat biasa  Neutral
1                               baru saja mengirim foto  Neutral
2     apa kabar dunia twitter ? masihkah selucu dan ...  Neutral
3     yah gimana sih yang yaudah susul aku dulu kita...  Neutral
4                   saja ka dorg suro beli medium 2 set  Neutral
...                                                 ...      ...
1996  karena tau rasa kesepian, manusia akan menjadi...  Neutral
1997  yang terbaik adalah percaya dan berlindung han...  Neutral
1998  sahabat adalah mereka yg tahu bahwa ada sedih ...  Neutral
1999  terkadang, bukan karena dusta, kamu membenci s...  Neutral
2000  kita dipertemukan oleh sepi dan dipisahkan kar...  Neutral

[2001 rows x 2 columns]

In [140]:
angerdata_publicopinion = pd.read_csv("./Dataset/Label/1/AngerData.csv", on_bad_lines="skip", delimiter="\t")
angerdata_publicopinion

                                                  tweet  label
0                           pagi2 udah di buat emosi :)  Anger
1     kok stabilitas negara, memange 10 thn negara t...  Anger
2                          dah lah emosi mulu liat emyu  Anger
3     aib? bodoh benar! sebelum kata aib itu muncul,...  Anger
4                               dih lu yg nyebelin bego  Anger
...                                                 ...    ...
1125  dan yg emng belom tau banyak lah tentang dunia...  Anger
1126  aa kesel bgt anying. dia sudah di bandaraa, gi...  Anger
1127  ini segala keresahan gua udah mau ilang nihh, ...  Anger
1128  gue pernah datang lebih awal, sebelum waktu ny...  Anger
1129  telat lu ngasih tau faktanya min,kalo sblm per...  Anger

[1130 rows x 2 columns]

In [141]:
saddata_publicopinion = pd.read_csv("./Dataset/Label/1/SadData.csv", on_bad_lines="skip", delimiter="\t")
saddata_publicopinion

                                                  tweet label
0     akibat dari telat bangun, anak ikut bangun dan...   Sad
1                                                  sepi   Sad
2                                             sedih dah   Sad
3     sedih emg kalo ditinggal temen ngebucin, sedih...   Sad
4                              sedih bener niih club ya   Sad
...                                                 ...   ...
998   pagi saat seisi semesta sujud pada zat yg acap...   Sad
999   meski engkau yg pergi, meski engkau yg meningg...   Sad
1000                     udah biasa kalah dan tersakiti   Sad
1001  apakabar ku?. apakah baik-baik saja,, tidak, a...   Sad
1002      this user sdg tidak.baik.baik saja sdg stress   Sad

[1003 rows x 2 columns]

In [142]:
feardata_publicopinion = pd.read_csv("./Dataset/Label/1/FearData.csv", on_bad_lines="skip", delimiter="\t")
feardata_publicopinion

                                                 tweet label
0    trs barusan dia reach out aku trs minta tolong...  Fear
1    sumpah ini receh bgt dan not bts related. cm j...  Fear
2    ragu utk bisa beli barang tu karn harganya bis...  Fear
3    bisa gak sih langsung tanggal 11 aja gausah ad...  Fear
4    iya kaan yg lain suka pada coba pd gpp tp tete...  Fear
..                                                 ...   ...
906                                bgt! sepi dan serem  Fear
907  sepi aneh kayak ada yg perhatiin tapi gk ada s...  Fear
908     joonyoung.. paling merinding sama sedih jadi 1  Fear
909  mau nonton kukira kau rumah awokaowkwk, tapi t...  Fear
910  gila, sepi bgt rumah gue berasa nge kos nying ...  Fear

[911 rows x 2 columns]

In [143]:
joydata_publicopinion = pd.read_csv("./Dataset/Label/1/JoyData.csv", on_bad_lines="skip", delimiter="\t")
joydata_publicopinion

                                                  tweet label
0                                      dipeluk enak nih   Joy
1     masih dongg wkkwkwtar klo gk semangat gk bisa ...   Joy
2     semangat dan bertambah kuatlah kalian frp_nats...   Joy
3     jangan lupa sarapann semangat buat hari inii a...   Joy
4                 aw ikut seneng semangat ya kuliahnya!   Joy
...                                                 ...   ...
1270          yaaaa rumah sepi. mari kita party wakwakk   Joy
1271  seru tau prenjon zer kdng sedih kdng baper, se...   Joy
1272  aahh iyaa bgtt hazaa!! kek tbtb bawaannya mell...   Joy
1273  kadrun kroco sih cuman dapet nasbung jk ada or...   Joy
1274                           lg sedih jdi terhibur aq   Joy

[1275 rows x 2 columns]

In [144]:
lovedata_publicopinion = pd.read_csv("./Dataset/Label/1/LoveData.csv", on_bad_lines="skip", delimiter="\t")
lovedata_publicopinion

                                                 tweet label
0    suka banget kata2, "kebenaran hanya menurut se...  Love
1    hanse mode anak rumahan gini tuh aku suka bang...  Love
2    ya kali ngejar ngejar cinta, ngejar tahajjud a...  Love
3    selamat pagi sender! sana avail nih pas hari v...  Love
4    sopaa!! cuz akuu suka banget jurusan tari di s...  Love
..                                                 ...   ...
755  ngeliat teaser wonpil jadi sedih anjir apaan s...  Love
756  lae ku sayang jangan sedih ya, bentar lagu kau...  Love
757  lockey tetep harus support secret number juga,...  Love
758  ku tetap membelamu meski kau jahat, karna ku c...  Love
759                                 sayang sama chikaa  Love

[760 rows x 2 columns]

In [145]:
dataset_publicopinion = pd.concat([neutral_publicopinion, angerdata_publicopinion, saddata_publicopinion, feardata_publicopinion, joydata_publicopinion, lovedata_publicopinion])
dataset_publicopinion.to_csv("./Dataset/Label/1/(1)Dataset_Public_Opinion.csv", sep="\t", index=False)
dataset_publicopinion

                                                 tweet    label
0      pengabdian yang terpuji meskipun terlihat biasa  Neutral
1                              baru saja mengirim foto  Neutral
2    apa kabar dunia twitter ? masihkah selucu dan ...  Neutral
3    yah gimana sih yang yaudah susul aku dulu kita...  Neutral
4                  saja ka dorg suro beli medium 2 set  Neutral
..                                                 ...      ...
755  ngeliat teaser wonpil jadi sedih anjir apaan s...     Love
756  lae ku sayang jangan sedih ya, bentar lagu kau...     Love
757  lockey tetep harus support secret number juga,...     Love
758  ku tetap membelamu meski kau jahat, karna ku c...     Love
759                                 sayang sama chikaa     Love

[7080 rows x 2 columns]

In [146]:
#hitung jumlah permasing2 label dari  dari dataset public opinion
#tampilkan total jumlah kata dan karakter
print("Jumlah data neutral: ", len(neutral_publicopinion))
print("Jumlah data anger: ", len(angerdata_publicopinion))
print("Jumlah data sad: ", len(saddata_publicopinion))
print("Jumlah data fear: ", len(feardata_publicopinion))
print("Jumlah data joy: ", len(joydata_publicopinion))
print("Jumlah data love: ", len(lovedata_publicopinion))
print("Jumlah data total: ", len(dataset_publicopinion))

Jumlah data neutral:  2001
Jumlah data anger:  1130
Jumlah data sad:  1003
Jumlah data fear:  911
Jumlah data joy:  1275
Jumlah data love:  760
Jumlah data total:  7080

In [147]:
#tampilkan total jumlah kata dan karakter
total_kata = dataset_publicopinion['tweet'].apply(lambda x: len(x.split(' '))).sum()
total_kata

118611

### 2. Dataset (IndoNLU)

---

Penelitian  : "Penelitian Emotion Detection Indo-NLU"

Referensi   : https://github.com/IndoNLP/indonlu/tree/master/dataset/emot_emotion-twitter


Label       : "Love, Happy, Anger, Fear, Sadness"

In [148]:
test_indonlu = pd.read_csv("./Dataset/Label/2/test_preprocess.csv", on_bad_lines="skip", delimiter=",")
test_indonlu

       label                                              tweet
0       Love  Pixy ini kok lama-lama gemesim yaaaa. Setelah ...
1       Fear  Penyakit hepatitis B 100x lebih infeksius dari...
2       Fear     Gw lebih khawatir lg kalo Ahok jd jurkamnya...
3      Anger  Kemerdekaan adalah hak segala bangsa ...( Kec ...
4      Happy  Selamat pak  resmi jadi bapak, sekedar saran s...
..       ...                                                ...
435  Sadness  Ramadhan udah masuk hari yang ke-20 aja. tapi ...
436  Sadness  kalo gue sik emang abis kehilangan seseorang y...
437     Fear  aku dong malem ini checkup darah,, ok warning ...
438    Anger  Dan besok musti pagi2 tangsel-bogor.. Dan (lag...
439    Happy  Pelayaran Aman, Selamat, Tertib dan Nyaman Pas...

[440 rows x 2 columns]

In [149]:
train_indonlu = pd.read_csv("./Dataset/Label/2/train_preprocess.csv", on_bad_lines="skip", delimiter=",")
train_indonlu

      label                                              tweet
0     Happy  Ini adalah hal yang paling membahagiakan saat ...
1     Anger    Dari pertama  menduduki bangku jabatan anda,...
2      Fear  yaudah kalo emang belum berani potong rambut p...
3      Fear  Jadi semalam, gw rekap, eh intinya yg gw usaha...
4     Anger  temen2 masa kecil yang turned out being asshol...
...     ...                                                ...
3516   Fear    Bcs doi w anak pelayaran, tp emg beneran sih...
3517  Anger  Sekali , dua kali , tiga kali , lama2 bosan ju...
3518  Anger          Sampaikan juga informasi kegiatan dana...
3519   Fear  Aku takut tulisan ini terbaca di saat kamu ngg...
3520  Happy   alhamdulilah tmksh tiara u to cantik dart ava oy

[3521 rows x 2 columns]

In [150]:
valid_indonlu = pd.read_csv("./Dataset/Label/2/valid_preprocess.csv", on_bad_lines="skip", delimiter=",")
valid_indonlu

       label                                              tweet
0      Anger   jaringannya mati ya? Tidak bisa dibuka mobile...
1      Anger  It's like a circle of stupidity. Atlit gak diu...
2      Anger            Koq Ngabalin di sebut tokoh, gak sal...
3      Happy   Selamat Siang Sahabat Pos. Kiriman tsb sudah ...
4      Happy  Di hari ini, yap tepat di tanggal 23 juli dima...
..       ...                                                ...
435    Anger    Mekanisme pemilihan direksi dan komisarisnya...
436     Fear  Ngasih tehaer ke keponakan. Baju dua biji cela...
437     Love  HAHAHA BODO AMAT DEEHHH YG PENTING DI VIDEO IN...
438  Sadness  Langsung mewek baca thread ini, keren maksimal...
439  Sadness  aku rasa hidup tanpa jiwa orang yang miskin at...

[440 rows x 2 columns]

In [151]:
dataset_indonlu = pd.concat([train_indonlu, valid_indonlu, test_indonlu])
dataset_indonlu

       label                                              tweet
0      Happy  Ini adalah hal yang paling membahagiakan saat ...
1      Anger    Dari pertama  menduduki bangku jabatan anda,...
2       Fear  yaudah kalo emang belum berani potong rambut p...
3       Fear  Jadi semalam, gw rekap, eh intinya yg gw usaha...
4      Anger  temen2 masa kecil yang turned out being asshol...
..       ...                                                ...
435  Sadness  Ramadhan udah masuk hari yang ke-20 aja. tapi ...
436  Sadness  kalo gue sik emang abis kehilangan seseorang y...
437     Fear  aku dong malem ini checkup darah,, ok warning ...
438    Anger  Dan besok musti pagi2 tangsel-bogor.. Dan (lag...
439    Happy  Pelayaran Aman, Selamat, Tertib dan Nyaman Pas...

[4401 rows x 2 columns]

In [152]:
dataset_indonlu.to_csv("./Dataset/Label/2/(2)Dataset_IndoNLU.csv", sep="\t", index=False)

In [153]:
#hitung jumlah permasing2 label sesuai label dari dataset diatas
#tampilkan total jumlah kata dan karakter
print("Jumlah data neutral: ", len(dataset_indonlu[dataset_indonlu['label'] == 'neutral']))
print("Jumlah data anger: ", len(dataset_indonlu[dataset_indonlu['label'] == 'Anger']))
print("Jumlah data sad: ", len(dataset_indonlu[dataset_indonlu['label'] == 'Sadness']))
print("Jumlah data fear: ", len(dataset_indonlu[dataset_indonlu['label'] == 'Fear']))
print("Jumlah data joy: ", len(dataset_indonlu[dataset_indonlu['label'] == 'Happy']))
print("Jumlah data love: ", len(dataset_indonlu[dataset_indonlu['label'] == 'Love']))
print("Jumlah data total: ", len(dataset_indonlu))

#tampilkan total jumlah kata dan karakter
total_kata = dataset_indonlu['tweet'].apply(lambda x: len(x.split(' '))).sum()
total_kata

Jumlah data neutral:  0
Jumlah data anger:  1101
Jumlah data sad:  997
Jumlah data fear:  649
Jumlah data joy:  1017
Jumlah data love:  637
Jumlah data total:  4401

126923

### 3. Dataset (Meisaputri)

---

Penelitian  : "Indonesian-Twitter-Emotion-Dataset"

Referensi   : https://github.com/meisaputri21/Indonesian-Twitter-Emotion-Dataset


Label       : "Love, Joy, Anger, Fear, Sad"

In [154]:
dataset_meisaputri = pd.read_csv("./Dataset/Label/3/dataset.csv", on_bad_lines="skip", delimiter=",")
dataset_meisaputri.to_csv("./Dataset/Label/3/(3)Dataset_MeisaPutri.csv", sep="\t", index=False)
dataset_meisaputri

      label                                              tweet
0     Anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1     Anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2       Joy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3     Anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4       Joy  Sharing pengalaman aja, kemarin jam 18.00 bata...
...     ...                                                ...
3982    Sad  Ya masalah dia mau masuk partai penista Agama ...
3983   Love  Yg romantis bikin gemash dan degdegann kkk pok...
3984    Joy  Lantunan dawai indah diri, isi gegap gempita o...
3985   Love  Disayangi oleh insan yang kita sayang itu satu...
3986    Joy  Apa yang allah berikan adalah yang terbaik unt...

[3987 rows x 2 columns]

In [155]:
#hitung jumlah permasing2 label sesuai label dari dataset diatas
#tampilkan total jumlah kata dan karakter
print("Jumlah data neutral: ", len(dataset_meisaputri[dataset_meisaputri['label'] == 'neutral']))
print("Jumlah data anger: ", len(dataset_meisaputri[dataset_meisaputri['label'] == 'Anger']))
print("Jumlah data sad: ", len(dataset_meisaputri[dataset_meisaputri['label'] == 'Sad']))
print("Jumlah data fear: ", len(dataset_meisaputri[dataset_meisaputri['label'] == 'Fear']))
print("Jumlah data joy: ", len(dataset_meisaputri[dataset_meisaputri['label'] == 'Joy']))
print("Jumlah data love: ", len(dataset_meisaputri[dataset_meisaputri['label'] == 'Love']))
print("Jumlah data total: ", len(dataset_meisaputri))

#tampilkan total jumlah kata dan karakter
total_kata = dataset_meisaputri['tweet'].apply(lambda x: len(x.split(' '))).sum()
total_kata

Jumlah data neutral:  0
Jumlah data anger:  1034
Jumlah data sad:  915
Jumlah data fear:  553
Jumlah data joy:  939
Jumlah data love:  546
Jumlah data total:  3987

114792

### 4. Dataset (Multiclass classification)

---

Penelitian  : "Indonesian-Twitter-Emotion-Dataset"

Referensi   : https://github.com/kmyafi/Emotion-Analysis-Bahasa/blob/main/README.md


Label       : "Love, Joy, Anger, Fear, Sad"

In [156]:
dataset_multiclass = pd.read_csv("./Dataset/Label/4/dataset.csv", on_bad_lines="skip", delimiter=",")
dataset_multiclass.to_csv("./Dataset/Label/4/(4)Dataset_Multiclass.csv", sep="\t", index=False)
dataset_multiclass

      label                                              tweet
0      Fear  Lebih menyeramkan kalo punya grup WA keluarga ...
1       Joy  Hepibesdey canteeeekk  panjang umur, jadi prib...
2       Joy  Jumat lalu nonton inih! Selain tertarik settin...
3       Joy     Nyante dulu.. Sruput kopi biar tambah bijak...
4      Love  Happy annyversarry yg pertama kalinya .. Trsra...
...     ...                                                ...
4148  Anger  sini berobat sama saya ini ngantri dokter saja...
4149    Joy  Selamat pagi generasi Tik Tok yang kadang kepa...
4150   Love  Salah satu sahabat terbaik! Teman, kakak, insp...
4151  Anger   Gila kok ada ya perempuan pikirannya malah ny...
4152  Anger   saya coba hubungi yg di cakung dan minta di w...

[4153 rows x 2 columns]

In [158]:
# Replace NaN values in the 'tweet' column with empty strings
dataset_multiclass['tweet'] = dataset_multiclass['tweet'].fillna('')

# Calculate the total number of words
total_kata = dataset_multiclass['tweet'].apply(lambda x: len(str(x).split(' '))).sum()
total_kata

110655

### 5. Dataset (Twitter Dataset)

---

Penelitian  : "Indonesian-Twitter-Emotion-Dataset"

Referensi   : https://www.kaggle.com/code/nikhil00/emotional-analysis-on-indonesian-tweets/input


Label       : "joy, fear, trust, anger, anticipation, disgust, sadness, surprise"

In [ ]:
import json

# Path ke file JSON
file_path = './Dataset/Label/5/emotion_id_tweets.json'

# Membaca file JSON baris per baris dan menggabungkannya menjadi satu objek JSON besar
data = []
with open(file_path, 'r') as file:
    for line in file:
        try:
            data.append(json.loads(line))
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON: {e}")

# Ekstraksi konten dan label
rows = []
for entry in data:
    content = entry['content']
    labels = entry['annotation']['labels']
    if labels:  # Memastikan bahwa daftar label tidak kosong
        label = labels[0]
    else:
        label = None  # Atau bisa dilewati dengan continue jika tidak ingin menyertakan entri tanpa label
    rows.append([content, label])

# Buat DataFrame
df = pd.DataFrame(rows, columns=['content', 'label'])

# Path output ke file CSV
csv_output_path = './Dataset/Label/5/dataset.csv'

# Simpan ke CSV
df.to_csv(csv_output_path, index=False)

print(f"Data telah disimpan ke {csv_output_path}")
print(df.head())

Data telah disimpan ke ./Dataset/Label/5/dataset.csv
                                             content  label
0  @04Nakula @jokowi @prabowo @Gerindra @Dailymot...    joy
1  @Achmadr06327297 @fadlizon @Gerindra @prabowo ...    joy
2  @Gerindra @PKSejahtera @prabowo Seandainya sek...   fear
3  @fadlizon @Gerindra @prabowo Saya dukung pak p...    joy
4  @Gerindra @PKSejahtera Mencari yang setia dan ...  trust

In [ ]:
dataset_kaggle = pd.read_csv("./Dataset/Label/5/dataset.csv", on_bad_lines="skip", delimiter=",")
dataset_kaggle.to_csv("./Dataset/Label/5/(5)Dataset_Kaggle.csv", sep="\t", index=False)
dataset_kaggle

                                                content         label
0     @04Nakula @jokowi @prabowo @Gerindra @Dailymot...           joy
1     @Achmadr06327297 @fadlizon @Gerindra @prabowo ...           joy
2     @Gerindra @PKSejahtera @prabowo Seandainya sek...          fear
3     @fadlizon @Gerindra @prabowo Saya dukung pak p...           joy
4     @Gerindra @PKSejahtera Mencari yang setia dan ...         trust
...                                                 ...           ...
8677  Aku pengen bnget nih,daerah jakarta barat ada ...  anticipation
8678  Selamat Hari Raya Tri Suci Waisak untuk seluru...           joy
8679  Kandungan serat di passion fruit atau markisa ...         trust
8680  Selamat memperingati Hari Kebangkitan Nasional...           joy
8681  Olive oil dapat digunakan untuk mengobati kuli...         trust

[8682 rows x 2 columns]

In [ ]:
#hitung jumlah permasing2 label sesuai label dari dataset diatas
#tampilkan total jumlah kata dan karakter
print("Jumlah data neutral: ", len(dataset_kaggle[dataset_kaggle['label'] == 'neutral']))
print("Jumlah data anger: ", len(dataset_kaggle[dataset_kaggle['label'] == 'anger']))
print("Jumlah data sad: ", len(dataset_kaggle[dataset_kaggle['label'] == 'sadness']))
print("Jumlah data fear: ", len(dataset_kaggle[dataset_kaggle['label'] == 'fear']))
print("Jumlah data joy: ", len(dataset_kaggle[dataset_kaggle['label'] == 'joy']))

## B. Dataset Non Label (Belum Mempunyai Label)

### 1. Dataset Masukan (Crawling)

---

**Keyword**             : "(to-vidio)"

**Rentang**             : 1 - 30 April 2024

In [ ]:
dataset_masukan = pd.read_csv("./Dataset/NonLabel/masukan(to-vidio).csv", on_bad_lines="skip", delimiter=",")
dataset_masukan

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1785006273387438334,Mon Apr 29 18:00:34 +0000 2024,0,@vidio kenapa match lavani vs PBS ga bisa dipu...,1785006273387438334,NaN,vidio,in,"Di TanahAirku, Indonesia",0,1,0,https://twitter.com/Widya_skb/status/178500627...,372755145,Widya_skb
1,1784987684961968170,Mon Apr 29 16:52:54 +0000 2024,0,@vidio ga mau ga ngasih solusi jg.. solusinya ...,1784989247428288792,NaN,vidio,in,JC (1) 😇,0,0,0,https://twitter.com/DefVl06/status/17849892474...,2449483950,DefVl06
2,1784942779476623424,Mon Apr 29 13:48:15 +0000 2024,0,@vidio nyiarin indo vs usbek gk??,1784942779476623424,NaN,vidio,in,"Denpasar, Jakarta",0,2,0,https://twitter.com/radityaputra_/status/17849...,86374232,radityaputra_
3,1784719150105219270,Mon Apr 29 10:51:29 +0000 2024,0,@vidio Kecewa banget udah berbayar tapi gak bi...,1784898292716810490,NaN,vidio,in,"Metro Barat, Indonesia",0,0,0,https://twitter.com/nungkiki/status/1784898292...,183950036,nungkiki
4,1784870266088063164,Mon Apr 29 09:59:34 +0000 2024,0,@vidio Ohhhh di court 4 ternyata ga ada kamera...,1784885227808006416,NaN,vidio,in,NaN,0,0,0,https://twitter.com/PMskk15/status/17848852278...,1304725798050381824,PMskk15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,1775081451459129393,Tue Apr 02 08:45:47 +0000 2024,0,@vidio Responnya cepet banget makasih min,1775082187794378869,NaN,vidio,in,NaN,0,0,0,https://twitter.com/EMAGE07/status/17750821877...,1714440764342804480,EMAGE07
162,1775034376616886775,Tue Apr 02 05:35:48 +0000 2024,0,@vidio drama 49 days udah ga ada lagi atau gim...,1775034376616886775,NaN,vidio,in,NaN,0,1,0,https://twitter.com/xxalmirangrhn/status/17750...,115819661,xxalmirangrhn
163,1774598356079382837,Mon Apr 01 01:10:46 +0000 2024,0,@vidio oh gitu.. oke deh min. makasih jawabannya,1774605291717562623,NaN,vidio,in,in your timeline,0,1,0,https://twitter.com/xjhpp/status/1774605291717...,104410124,xjhpp
164,1774598356079382837,Mon Apr 01 01:00:38 +0000 2024,0,@vidio beberapa konten pilihan itu yg kae apa ...,1774602738695098552,NaN,vidio,in,in your timeline,0,1,0,https://twitter.com/xjhpp/status/1774602738695...,104410124,xjhpp
165,1774598356079382837,Mon Apr 01 00:43:13 +0000 2024,0,@vidio paket vidio gold itu bisa utk akses apa...,1774598356079382837,NaN,vidio,in,in your timeline,0,1,0,https://twitter.com/xjhpp/status/1774598356079...,104410124,xjhpp

### 2. Dataset Aplikasi (Aplikasi)

---

**Keyword**             : "database(socialab.tweets)"

**Rentang**             : 10 November 2023 – 27 Mei 2024

In [ ]:
dataset_database = pd.read_csv("./Dataset/NonLabel/database(socialab.tweets).csv", on_bad_lines="skip", delimiter=",")
dataset_database

,_id,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url,image_url,location,in_reply_to_screen_name,__v
0,663fa40a8a91151dd2f9db0d,Fri Nov 10 23:58:50 +0000 2023,1723128111926243840,@m_nurfatoni Anies seperti Ahmad Dahlan jamam now,0,1,0,0,in,354645457,1723112921604177920,meditegal,https://twitter.com/meditegal/status/172312811...,NaN,NaN,NaN,NaN
1,663fa40a8a91151dd2f9db0e,Fri Nov 10 23:58:28 +0000 2023,1723128018716237824,@ardibhironx Itu ide AHOK dan udah dijalankan....,0,4,0,0,in,1579535471298113536,1690598033782968320,AnonimousNama,https://twitter.com/AnonimousNama/status/17231...,NaN,NaN,NaN,NaN
2,663fa40a8a91151dd2f9db0f,Fri Nov 10 23:58:25 +0000 2023,1723128004816293888,@bagaskara645y @logikapolitikid Anies sama Pra...,0,1,0,0,in,1445442689386700800,1722963887266402816,RivaldiFaza,https://twitter.com/RivaldiFaza/status/1723128...,NaN,NaN,NaN,NaN
3,663fa40a8a91151dd2f9db10,Fri Nov 10 23:58:10 +0000 2023,1723127944212881664,pernyataan di depan para pendukungnya. Semoga ...,0,0,0,0,in,1678743354249740288,1723127944212881664,eva_aruna,https://twitter.com/eva_aruna/status/172312794...,NaN,NaN,NaN,NaN
4,663fa40a8a91151dd2f9db11,Fri Nov 10 23:57:44 +0000 2023,1723127835404251648,@BangPino__ Pemilih Anies militan tak tergiur ...,0,3,2,15,in,354645457,1723126003730698240,meditegal,https://twitter.com/meditegal/status/172312783...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28966,66554241ae55b835044c62cc,Tue May 28 00:43:28 +0000 2024,NaN,#Cek Bisa COD BELI 1 DAPAT 2 #Dreamy #Sweet #M...,0,0,0,0,in,344601410,1795254527391867101,dosopriyanto,https://x.com/dosopriyanto/status/179525452739...,NaN,NaN,NaN,0.0
28967,66554241ae55b835044c62cd,Tue May 28 00:36:19 +0000 2024,NaN,ลองดู [COD] Flash Sale 1กิโล แมคคายกกระสอบ ตุ๊...,0,0,0,0,th,1515152524059508740,1795252727544775164,Floraa72270993,https://x.com/Floraa72270993/status/1795252727...,NaN,NaN,NaN,0.0
28968,66554241ae55b835044c62d1,Tue May 28 00:11:23 +0000 2024,NaN,wal cod an shopee kawa pakai qris lah yuu,0,8,0,1,in,981988393,1795246452761113026,banjarbase,https://x.com/banjarbase/status/17952464527611...,NaN,"Kalimantan Selatan, Indonesia",NaN,0.0
28969,66554241ae55b835044c62d0,Tue May 28 00:11:26 +0000 2024,NaN,Temukan [BS] BISA COD Light Stick TREASURE BLU...,0,0,0,0,in,1765431656683569153,1795246468535923042,RacunShopee35,https://x.com/RacunShopee35/status/17952464685...,NaN,NaN,NaN,0.0
28970,66554241ae55b835044c62d5,Mon May 27 23:30:38 +0000 2024,NaN,wts / want to sell INA lfb Postcard chill kill...,0,0,0,0,en,906073350912360448,1795236200359579906,kangsitwar,https://x.com/kangsitwar/status/17952362003595...,NaN,NaN,NaN,0.0